@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

header {
    height: 30px;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 30px;
}

.top {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
}

div{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 15px;
    text-align: center; 
    position: relative;
    transition: transform 0.3s ease; 
}

div:hover {
    background-color:#dcd5d6;
    transform: scale(1.02);
}

.card1{
    top: 80px;   
    margin:  0 0 0 10px;
}

.card2{
    top: 80px; 
    left: 360px;  
}

.card3{
    top: 80px;   
    left: 710px;
}

p {
    margin: 10px;
    font-size: 18px;
}

img {
    /* height: 45px; */
    width: 70%;
    margin: 10px auto;
}

